<<<<<<< HEAD

=======
>>>>>>> daee0d5938d2e32a6201d03dfdf9302aa34ab1d7
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}